RewriteEngine on
# RewriteRule ^expresion_regular$ url_real [flags_opcionales]


RewriteRule ^main$ index.php [L]
RewriteRule ^logout$ index.php?m=usuario&f=logout [L]

#FLags QSA permite añadir datos en el propio enlace
# RewriteRule ^seriesgenero$ index.php?m=serie&q=genero [QSA, L]

