RewriteEngine on
# RewriteRule ^expresion_regular$ url_real [flags_opcionales]


RewriteRule ^login$ index.php [QSA,L]
RewriteRule ^logout$ index.php?controlador=usuario&funcion=cerrarSesion [L]
RewriteRule ^registro$ index.php?controlador=usuario&funcion=renderRegistro [QSA,L]
RewriteRule ^home$ index.php?controlador=articulo&funcion=renderHome [QSA,L]

