body {
    background-image: url("../img/bk2.jpg");
    background-image: no-repeat;
    background-image: cover;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.footer {
    padding: 20px 0;
    text-align: center;
    background: rgba(52, 58, 64, 0.9);
}

.header{
    z-index: 1000;
    position: sticky;
    top: 0;
}