body {
    background-image: url("../img/bk2.jpg");
    background-image: no-repeat;
    background-image: cover;
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: rgba(52, 58, 64, 0.9);
}