.bg-color {
    background-color: #3d5e7e; 
    border-radius: 50px;
}

#h1Texto{
    color:aliceblue
}

.container{
    margin-bottom: 1%;
    border-radius: 50px;
}

.card{
    background: rgba(255, 255, 255, 0.9);
}

.collapse{
    margin-bottom: 15px;
}